In [1]:
for i in range(5):
    for j in range(1,i+2):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
25. Print following pattern:

a 
a b 
a b c 
a b c d 
a b c d e

In [1]:
for i in range(97,102):
    for j in range(97,i+1):
        print(chr(j),end=' ')
    print()

a
a b
a b c
a b c d
a b c d e

In [2]:
for i in range(97,102):
    for j in range(97,i+1):
        print(chr(i),end=' ')
    print()

a
b b
c c c
d d d d
e e e e e

In [ ]:
27. Print following pattern:

5 
5 4 
5 4 3 
5 4 3 2 
5 4 3 2 1

In [4]:
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(j,end=' ')
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
28. Print following pattern:

1 
2 3 
4 5 6 
7 8 9 10 
11 12 13 14 15

In [8]:
k = 1
for i in range(5):
    for j in range(0,i+1):
        print(k,end=' ')
        k=k+1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
29. Print following pattern:

* * * * * 
* * * * 
* * * 
* * 
*

In [13]:
for i in range(5,0,-1):
    for j in range(0,i):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
30. Print following pattern:

1 2 3 4 5 
1 2 3 4 
1 2 3 
1 2 
1

In [14]:
for i in range(6,0,-1):
    for j in range(1,i):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
31. Print following pattern:
5 5 5 5 5 
4 4 4 4 
3 3 3 
2 2 
1

In [17]:
for i in range(5,0,-1):
    for j in range(0,i):
        print(i,end=' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
32. Print following pattern:
A B C D E 
A B C D 
A B C 
A B 
A

In [18]:
for i in range(70,65,-1):
    for j in range(65,i):
        print(chr(j),end=' ')
    print()

A B C D E
A B C D
A B C
A B
A

In [ ]:
33. Print following pattern:
E E E E E 
D D D D 
C C C 
B B 
A

In [21]:
for i in range(69,64,-1):
    for j in range(64,i):
        print(chr(i),end=' ')
    print()

E E E E E
D D D D
C C C
B B
A

In [ ]:
34. Print following pattern:
a b c d e 
a b c d 
a b c 
a b 
a

In [23]:
for i in range(102,97,-1):
    for j in range(97,i):
        print(chr(j),end=' ')
    print()

a b c d e
a b c d
a b c
a b
a

In [25]:
for i in range(101,96,-1):
    for j in range(96,i):
        print(chr(i),end=' ')
    print()

e e e e e
d d d d
c c c
b b
a

In [ ]:
36. Print following pattern:

5 4 3 2 1 
5 4 3 2 
5 4 3 
5 4 
5

In [26]:
for i in range(1,6):
    for j in range(5,i-1,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [ ]:
37. Print following pattern:

0 0 0 0 0 
1 1 1 1 
2 2 2 
3 3 
4

In [28]:
for i in range(5):
    for j in range(5,i-1,-1):
        print(i,end=' ')
    print()

0 0 0 0 0 0
1 1 1 1 1
2 2 2 2
3 3 3
4 4

In [27]:
for i in range(1,6):
    for j in range(5,i-1,-1):
        print(i,end=' ')
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
38. Print following pattern:

    *
   **
  ***
 ****
*****

In [30]:
for i in range(5):
    for j in range(0,4-i):
        print(end=' ')
    for k in range(0,i+1):
        print('*',end='')
    print()

    *
   **
  ***
 ****
*****

In [ ]:
39. Print following pattern:

	1
   12
  123
 1234
12345

In [31]:
for i in range(5):
    for j in range(0,4-i):
        print(end=' ')
    for k in range(1,i+2):
        print(k,end='')
    print()

    1
   12
  123
 1234
12345

In [33]:
for i in range(6):
    for j in range(0,5-i):
        print(end=' ')
    for k in range(1,i+1):
        print(k,end='')
    print()

    1
   12
  123
 1234
12345

In [ ]:
40. Print following pattern:

 	1
   22
  333
 4444
55555

In [34]:
for i in range(6):
    for j in range(0,5-i):
        print(end=' ')
    for k in range(1,i+1):
        print(i,end='')
    print()

    1
   22
  333
 4444
55555

In [ ]:
41. Print following pattern:

	A
   AB
  ABC
 ABCD
ABCDE

In [37]:
for i in range(65,70):
    for j in range(0,69-i):
        print(end=' ')
    for k in range(65,i+1):
        print(chr(k),end='')
    print()

    A
   AB
  ABC
 ABCD
ABCDE

In [ ]:
42. Print following pattern:

	A
   BB
  CCC
 DDDD
EEEEE

In [38]:
for i in range(65,70):
    for j in range(0,69-i):
        print(end=' ')
    for k in range(65,i+1):
        print(chr(i),end='')
    print()

    A
   BB
  CCC
 DDDD
EEEEE

In [ ]:
43. Print following pattern:

	 a
    ab
   abc
  abcd
 abcde

In [40]:
for i in range(97,102):
    for j in range(0,101-i):
        print(end=' ')
    for k in range(97,i+1):
        print(chr(k),end='')
    print()

    a
   ab
  abc
 abcd
abcde

In [41]:
for i in range(97,102):
    for j in range(0,101-i):
        print(end=' ')
    for k in range(97,i+1):
        print(chr(i),end='')
    print()

    a
   bb
  ccc
 dddd
eeeee

In [ ]:
45. Print following pattern:

 	5
   54
  543
 5432
54321

In [ ]:
for i in range():
    for j in range():
        print(end=' ')
    for k in range():
        print(k,end='')
    print()

In [ ]:
46. Print following pattern:

 	5
   54
  543
 5432
54321