# 7. Write a Python program to generate fibonacci series. 
# 0 1 1 2 3

In [9]:
n = int(input('Enter the number of terms for fibonacci series:'))
a = 0
b = 1
print('The fibonacci series:',a,b,end=' ')
for i in range(2,n):
    c = a+b
    print(c,end=' ')
    a = b
    b = c

Enter the number of terms for fibonacci series:5
The fibonacci series: 0 1 1 2 3

# 8. Write a Python program to check whether the given number is armstrong number or not.

153  = 1**3 + 5**3 + 3**3

In [11]:
n = int(input('Enter the number: '))
s = 0
t = n
while t>0:
    a = t%10
    s = s+a**3
    t = t//10
if s == n:
    print(n,'is an Armstrong Number')
else:
    print(n,'is not an Armstrong number')

Enter the number: 234
234 is not an Armstrong number

# 10. Write a Python program to print all armstrong numbers in given interval.

In [2]:
start  = int(input('Enter the starting number:'))
end = int(input('Enter ending number: '))
for i in range(start,end+1):
    s = 0
    t = i
    while t>0:
        a = t%10
        s = s+a**3
        t=t//10
    if s==i:
        print(i)

Enter the starting number:1
Enter ending number: 1000
1
153
370
371
407

#  Nesting of loops or Nested Loops

In [3]:
for i in range(3): # 0 1 2
    for j in range(3): # 0 1 2
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [4]:
i = 0
while i<3:
    j = 0
    while j<3:
        print(i,j)
        j= j+1
    i = i+1

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [ ]:
# 12. Print following pattern:

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [5]:
for i in  range(5):
    for j in range(5):
        print('*',end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
13. Print following pattern:

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [6]:
for i in range(1,6):
    for j in range(1,6):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
14. Print following pattern:
    
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [7]:
for i in range(1,6):
    for j in range(1,6):
        print(i,end=' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
15. Print following pattern:
A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [8]:
for i in range(65,70): # 65 66 67 68 69
    for j in range(65,70): # 65 66 67 68 69
        print(chr(j),end=' ')
    print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [ ]:
16. Print following pattern:

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [9]:
for i in range(65,70): # 65 66 67 68 69
    for j in range(65,70): # 65 66 67 68 69
        print(chr(i),end=' ')
    print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [ ]:
17. Print following pattern:

a b c d e
a b c d e
a b c d e
a b c d e
a b c d e

In [10]:
for i in range(97,102): # 65 66 67 68 69
    for j in range(97,102): # 65 66 67 68 69
        print(chr(j),end=' ')
    print()

a b c d e
a b c d e
a b c d e
a b c d e
a b c d e

In [11]:
for i in range(97,102): # 65 66 67 68 69
    for j in range(97,102): # 65 66 67 68 69
        print(chr(i),end=' ')
    print()

a a a a a
b b b b b
c c c c c
d d d d d
e e e e e

In [ ]:
19. Print following pattern:

5 4 3 2 1 
5 4 3 2 1 
5 4 3 2 1 
5 4 3 2 1 
5 4 3 2 1

In [12]:
for i in range(5,0,-1):
    for j in range(5,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [ ]:
20. Print following pattern:

* 
* * 
* * * 
* * * * 
* * * * *

In [23]:
for i in range(5): # 0 1 2 3 4 5
    for j in range(i+1): # 
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [19]:
for i in range(1,6): # 0 1 2 3 4 5
    for j in range(1,i+1): # 
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [21]:
for i in range(5): # 0 1 2 3 4 
    for j in range(1,i+2): # 
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5