In [1]:
print('Hello World')

Hello World

In [2]:
a = 10
b = 20
s=a+b
print('The sum is',s)

The sum is 30

In [3]:
3+4

7

In [4]:
a = int(input('Enter the first number:'))
b = int(input('Enter the seocnd number: '))
s= a+b
print('The sum is ',s)

Enter the first number:21
Enter the seocnd number: 10
The sum is  31

# write a python program to calculate the area of circle.

In [5]:
import math
r = int(input('Enter the radius: '))
area = math.pi*r**2
print('The area of circle: ',area)

Enter the radius: 2
The area of circle:  12.566370614359172

# write a python program to swap two numbers.

# write a python Program to convert temperature from fareinhit to centigrade.

In [8]:
x = range(2,10,2)
x = list(x)
print(x)

[2, 4, 6, 8]

In [10]:
print(1,2,34,sep='&')

1&2&34

In [11]:
s1 = 'arvind'
print(s1)

arvind

In [12]:
s2 = 'Kumar'
print(s2)

Kumar

In [21]:
print(s1)

arvind

In [22]:
print(flush=True)

In [27]:
print(s1,flush=True)

arvind

In [28]:
s1

'arvind'

In [29]:
print("Python Example.")

x = 6
# Two objects are passed
print("x =", x)

y = x
# Three objects are passed
print('x=', x, '= y')

Python Example.
x = 6
x= 6 = y

In [34]:
print('Python', 'Example',sep='')
print("Python", "Exercises", sep="-")

PythonExample
Python-Exercises

In [35]:
id(x)

1600052095440

In [45]:
# Python program to illustrate the use 
# of 'is' identity operator 
x = 5
if (type(x) is int):
    print("true") 
else:
    print("false")

true

In [46]:
print(type(x) is int)

True

In [1]:
n = int(input('Enter the number: '))
for i in range(1,11):
    print(n,'*',i,'=',n*i)

Enter the number: 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40